<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dewey is a Chrome app for tagging, searching and sorting your Chrome bookmarks. With Dewey you can add custom tags, screenshots of your bookmarks, and search and sort in a much smarter and faster way">
    <meta name="keywords" content="chrome, google chrome, extensions, chrome apps, bookmarking extensions, dewey, dewey bookmarks, deweyapp, dewey for chrome, dewey better bookmarks, better chrome bookmarks">
    <link href="images/favicon.png" rel="shortcut icon">

    <title>Dewey, better bookmarks for Google Chrome</title>

    <link rel="stylesheet" href="css/main.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/aahpfefkmihhdabllidnlipghcjgpkdm">

    <script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='js/scripts.js'></script>
    
  </head>

  <body> <!-- toggle '.modal-open' after clicking '.settings-toggle' and '.edit-toggle'  -->

    <main>

      <header class="nav-wrap"> <!-- toggle '.scale-blur' on '.settings-toggle' and '.edit-toggle' click -->
        <nav class="search-wrap">
          <form class="search ng-pristine ng-valid" role="search">
            <div class="form-group search-group">
              <input autofocus="true" type="search" class="form-control" placeholder="Dewey. Better bookmarks for Google Chrome.">
            </div>
          </form>
        </nav>
        <a class="settings-toggle"></a>
      </header>


      <div class="settings"><!-- toggle '.open' on '.settings-toggle' click -->
        <a class="close"></a>
        <div class="settings-wrap">
          <ul class="col-1">
            <li><a class="docs" href="https://github.com/deweyapp/dewey-website/blob/master/README.md" target="_blank">How To</a></li>
            <li><a class="feedback" href="https://github.com/deweyapp/dewey/issues" target="_blank">Feedback</a></li>
            <li><a class="review" href="https://chrome.google.com/webstore/detail/dewey-bookmarks/aahpfefkmihhdabllidnlipghcjgpkdm/reviews" target="_blank">Review</a></li>
            <li><a class="donate" href="https://github.com/deweyapp/dewey-website/blob/master/README.md#donate" target="_blank">Donate</a></li>
            <li><a class="email" href="mailto:support@deweyapp.io?Subject=Hello, Dewey.">Email Us</a></li>
            <li><a class="website" href="http://deweyapp.io" target="_blank">Website</a></li>
          </ul> <!-- .col-1 -->
          <ul class="col-2">
            <li>
              <form>
                <div>What do you get with Dewey?</div>

                <div class="checkbox" title="Show screenshots for bookmarks">
                  <input id="hide-thumbs" class="css-checkbox" type="checkbox" ng-checked="showThumbnails" checked="checked">
                  <label for="hide-thumbs" class="css-label">Screenshots</label>
                </div>

                <div class="checkbox" title="Add custom tags to your bookmarks" >
                  <input id="hide-folders" class="css-checkbox" type="checkbox" ng-checked="hideTopLevelFolders" checked="checked">
                  <label for="hide-folders" class="css-label">Custom Tagging</label>
                </div>

                <div class="checkbox" title="Super fast search" >
                  <input id="hide-folders" class="css-checkbox" type="checkbox" ng-checked="hideTopLevelFolders" checked="checked">
                  <label for="hide-folders" class="css-label">Smarter Search</label>
                </div>

                <div class="credits"><button class="install-btn push-down" type="button" onclick="chrome.webstore.install()" id="install-button">Add to Chrome</button></div>
              </form>
            </li>
          </ul> <!-- .col-2 -->
        </div> <!-- .settings-wrap -->

        <div class="credits makers">
          Built by:
          <a class="important" href="https://twitter.com/outcoldman" target="_blank">Denis</a>,
          <a class="important" href="https://twitter.com/jmwlsn" target="_blank">Jamie</a>
          and <a class="important" href="https://twitter.com/artemgrygor" target="_blank">Artem</a>
        </div>

      </div> <!-- settings modal -->

      <div class="modal"> <!-- toggle '.in' on '.edit-toggle' click -->
          <div class="modal-dialog">
            <div class="modal-body">
              <form>
                <div class="edit-wrap">
                  <textarea id="textBoxTitle" class="title-input" placeholder="Bookmark Title">Install Dewey now, or find it on the Chrome Web Store.</textarea>
                  <a class="launch" href="https://chrome.google.com/webstore/detail/dewey-bookmarks/aahpfefkmihhdabllidnlipghcjgpkdm" target="_blank"></a>
                  <input type="text" class="url-input" placeholder="https://chrome.google.com/webstore/detail/dewey-bookmarks/aahpfefkmihhdabllidnlipghcjgpkdm">
                </div>

                <div class="form-group tags">
                   <ul class="list-inline">
                     <li><span class="tag">Bookmarks</span><li>
                    <li class="custom-tags">
                      <li><span class="tag custom-tag">Screenshots</span><li>
                      <li><span class="tag custom-tag">Custom Tagging</span><li>
                      <li><span class="tag custom-tag">Smarter Search</span><li>
                      <bootstrap-tagsinput type="text" id="textBoxCustomTags" class="custom-tag-input ng-isolate-scope ng-pristine ng-valid" placeholder="+ Add Tag" ng-model="bookmarkModel.customTags" tagclass="tag custom-tag">
                        <select multiple="" placeholder="+  Add Tag" style="display: none;"></select>
                        <div class="bootstrap-tagsinput"><input size="10" type="text" placeholder="+  Add Tag"></div>
                      </bootstrap-tagsinput>
                    </li>
                  </ul>
                </div>

              <div class="modal-footer">
                <a class="delete" tabindex="40">Delete</a>
                <a class="cancel" tabindex="50">Cancel</a>
                <button class="install-btn" type="button" onclick="chrome.webstore.install()" id="install-button">Add to Chrome</button>
              </div>

            </form>
          </div> <!-- modal body -->
        </div> <!-- modal dialog-->
      </div> <!-- modal -->

      <div class="grid"> <!-- toggle '.scale-blur' on '.settings-toggle' and '.edit-toggle' click -->

        <div class="tags-wrap"> <!-- toggle '.open' on '.tags-wrap' click -->
          <a class="tags-toggle"></a>
          <ui class="tags-list">
            <li><a target="_blank">Dewey</a></li>
            <li><a target="_blank">Lets You</a></li>
            <li><a target="_blank">Create</a></li>
            <li><a target="_blank">Custom</a></li>
            <li><a target="_blank">Tags</a></li>
            <li><a target="_blank">For all</a></li>
            <li><a target="_blank">Your</a></li>
            <li><a target="_blank">Chrome</a></li>
            <li><a target="_blank">Bookmarks</a></li>
            <li><a target="_blank">This</a></li>
            <li><a target="_blank">Website</a></li>
            <li><a target="_blank">Shows</a></li>
            <li><a target="_blank">What Your</a></li>
            <li><a target="_blank">Bookmarks</a></li>
            <li><a target="_blank">Could</a></li>
            <li><a target="_blank">Look</a></li>
            <li><a target="_blank">Like</a></li>
          </ui>
        </div>

        <ul class="sort">
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://deweyapp.io/" data-text="Dewey, better bookmarks for Google Chrome." data-via="DeweyBookmarks" data-size="small">Tweet</a>
            <button class="install-btn" type="button" onclick="chrome.webstore.install()" id="install-button">Add to Chrome</button>
          </li>
        </ul>

        <ul class="list-bookmarks">

          <li>
            <div class="card card-primary">
              <div class="edit-toggle"></div>
              <a class="bookmark-link" href="http://cssguidelin.es/"></a>
              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fcssguidelin.es%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(172, 196, 220);" title="http://cssguidelin.es/"></div>
              <div class="details">
                <img class="favicon" src="http://g.etfv.co/http://cssguidelin.es/?defaulticon=lightpng" alt="http://cssguidelin.es/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">CSS Guidelines - High-level advice and guidelines for writing sane, manageable, scalable CSS</h2>
                <div class="tag-links">
                    <a>CSS</a>
                </div><!-- tags -->
              </div><!-- details -->
            </div><!-- card -->
          </li>

          <li>

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://yeo-lab.com/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fyeo-lab.com%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(180, 188, 202);" title="http://yeo-lab.com/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://yeo-lab.com/?defaulticon=lightpng" alt="http://yeo-lab.com/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Yeo+Lab | Like peanut butter and jelly, but less sticky.</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Development</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="https://pickcrew.com/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=https%3A%2F%2Fpickcrew.com%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(168, 216, 244);" title="https://pickcrew.com/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/https://pickcrew.com/?defaulticon=lightpng" alt="https://pickcrew.com/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Crew | An Invite-Only Marketplace Connecting Projects With Talent</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Business</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Freelance</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://www.gomoodboard.com/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fwww.gomoodboard.com%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(110, 180, 222);" title="http://www.gomoodboard.com/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://www.gomoodboard.com/?defaulticon=lightpng" alt="http://www.gomoodboard.com/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Moodboard | Quickly build a beautiful moodboard and share the result</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Design</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Inspiration</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="https://medium.com/the-year-of-the-looking-glass/why-i-design-at-facebook-bc978af3b0c1"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=https%3A%2F%2Fmedium.com%2Fthe-year-of-the-looking-glass%2Fwhy-i-design-at-facebook-bc978af3b0c1&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(213, 213, 213);" title="https://medium.com/the-year-of-the-looking-glass/why-i-design-at-facebook-bc978af3b0c1"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/https://medium.com/the-year-of-the-looking-glass/why-i-design-at-facebook-bc978af3b0c1?defaulticon=lightpng" alt="https://medium.com/the-year-of-the-looking-glass/why-i-design-at-facebook-bc978af3b0c1" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Why I design at Facebook — The Year of the Looking Glass — Medium</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Business</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Freelance</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://premailer.dialect.ca/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fpremailer.dialect.ca%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(213, 213, 213);" title="http://premailer.dialect.ca/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://premailer.dialect.ca/?defaulticon=lightpng" alt="http://premailer.dialect.ca/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Premailer: pre-flight for HTML email</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Development</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Email</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://www.leuchtturm1917.com/en/content/startseite"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fwww.leuchtturm1917.com%2Fen%2Fcontent%2Fstartseite&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(68, 68, 84);" title="http://www.leuchtturm1917.com/en/content/startseite"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://www.leuchtturm1917.com/en/content/startseite?defaulticon=lightpng" alt="http://www.leuchtturm1917.com/en/content/startseite" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Leuchtturm1917 - Notebooks</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Hardware</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://jamiewilson.io/predawn/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fjamiewilson.io%2Fpredawn%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(148, 148, 148);" title="http://jamiewilson.io/predawn/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://jamiewilson.io/predawn/?defaulticon=lightpng" alt="http://jamiewilson.io/predawn/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Predawn - Interface and Syntax Theme for Sublime and Atom</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">My Sites</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://www.shortwhale.com/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fwww.shortwhale.com%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(20, 84, 76);" title="http://www.shortwhale.com/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://www.shortwhale.com/?defaulticon=lightpng" alt="http://www.shortwhale.com/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Shortwhale | Stop drowning in email</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Development</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Email</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://www.mockuuups.com/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fwww.mockuuups.com%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(34, 130, 207);" title="http://www.mockuuups.com/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://www.mockuuups.com/?defaulticon=lightpng" alt="http://www.mockuuups.com/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Mockuuups - 12 adjustable templates with iPhone 5s</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Design</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Mockups/Prototypes</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="https://jamiewilson.harvestapp.com/time"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=https%3A%2F%2Fjamiewilson.harvestapp.com%2Ftime&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(252, 148, 49);" title="https://jamiewilson.harvestapp.com/time"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/https://jamiewilson.harvestapp.com/time?defaulticon=lightpng" alt="https://jamiewilson.harvestapp.com/time" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Harvest</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://covve.com/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fcovve.com%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(60, 140, 204);" title="http://covve.com/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://covve.com/?defaulticon=lightpng" alt="http://covve.com/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Covve - Your contacts visualized</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Business</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://www.rapidtables.com/web/html/mailto.htm#generator"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fwww.rapidtables.com%2Fweb%2Fhtml%2Fmailto.htm%23generator&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(252, 196, 76);" title="http://www.rapidtables.com/web/html/mailto.htm#generator"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://www.rapidtables.com/web/html/mailto.htm#generator?defaulticon=lightpng" alt="http://www.rapidtables.com/web/html/mailto.htm#generator" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Mailto Link Generator</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Development</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Email</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://mailto.ninja/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fmailto.ninja%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(52, 92, 164);" title="http://mailto.ninja/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://mailto.ninja/?defaulticon=lightpng" alt="http://mailto.ninja/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Mailto Ninja</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Development</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Forms</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding badge-custom">Email</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) --><li ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)" class="ng-scope">

            <div class="card" ng-class="{'card-primary': ($index == selectedIndex), 'card-small': !showThumbnails}" ng-click="selectBookmark($index)">

              <div class="edit-toggle" ng-click="editBookmark(bookmark)"></div>
              <a class="bookmark-link" href="http://vodkabears.github.io/vide/"></a>

              <div class="thumbnail" style="background: url(http://api.snapito.io/v2/webshot/spu-611151-o3bp-du0ixqlrpknnlggm?url=http%3A%2F%2Fvodkabears.github.io%2Fvide%2F&amp;size=250x188&amp;screen=1000x752&amp;quality=low&amp;type=jpg), rgb(84, 84, 84);" title="http://vodkabears.github.io/vide/"></div>

              <div class="details">

                <img class="favicon" src="http://g.etfv.co/http://vodkabears.github.io/vide/?defaulticon=lightpng" alt="http://vodkabears.github.io/vide/" my-update-background="" crossorigin="anonymous">
                <h2 class="ng-binding">Vide - easy as hell jQuery plugin for video backgrounds</h2>

                <div class="tag-links">
                  <!-- ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Development</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag --><span ng-repeat="tag in bookmark.tag" class="ng-scope">
                    <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" class="ng-binding">Javascript</a>
                  </span><!-- end ngRepeat: tag in bookmark.tag -->
                </div><!-- tags -->

              </div><!-- details -->
            </div><!-- card -->
          </li><!-- end ngRepeat: bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed) -->

        </ul><!-- list-bookmarks -->
      </div><!-- grid -->

      <button class="footer install-btn" type="button" onclick="chrome.webstore.install()" id="install-button">Add to Chrome</button>

    </main>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47663414-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
